<a href="https://colab.research.google.com/github/jvataidee/ManualdeAnalisedeDadosPython/blob/master/cap6_estatistica_inferencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**by: [João Ataíde](https://www.joaoataide.com)**
# **CAP 06: Estatítica Inferencial**

---

In [22]:
#importar bibliotecas
import pandas as pd
import numpy as np
import math
import random
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from scipy.stats import chi2_contingency, spearmanr

### **Amostragem**

* `Poulação:` Conjunto de dados de todos o indivíduos, objetos ou elementos a serem estudados. `Censo` é o estudo de todos elementos de população, uma população pode ser `finita` permite contagem (ex. quantidade de empregados de uma empresa) ou `infinita` não permite contagem (ex. numero de produtos de uma fabrica em determinado período) .

* `Amostra` extração de um subconjunto colhidas na amostra e utilizado procedimentos esatísticos apropriados para generalizar, inferir ou tirar conclusões sobre a população.

### **Tipos de amostragem:**
- `Aleatória ou Probabilística` probabilidade de cada elemento da população é igual.
    * `Simples`
    * `Sistemática`
    * `Estratificada`
    * `Pro Conglomerados`

    * Vantagens: Seleção rogorosa e não permite subjetividade, Possibilidade de determinar matematicamente a dimensção da amostra e grau de confiança

    * Destanvagens: Dificuldade em obter lista completa da região, seleção aleatória pode gerar amostra dispersa.



- `Não Aleatória` probabilidade de alguns ou de todos elementos da população são desconhecidos.
    * `Pro conveniência`
    * `Por julgamento`
    * `Por Quotas`
    * `Bola de Neve`

    * Vantagens: Menor custo, menor tempo de estudo e mão de obra.

    * Destanvagens: há unidades do universo que não tem possibilidade a ser escolhida, pode ocorrer viés e nãos aber qual grau de confiança.

### **Amostragem Aleatória**

#### **Amostragem Aleatória Simples**

Método simples e mais importantes da seleção de amostra.

Planejamento:
1. Procedimento aleatóroio para sortear elementos da população com probabilidade igual.
2. Repetir processo até retirar uma amostra com n observações
3. Ao remover a amostra da população elemento pode ser removido `Sem Reposição` ou não removido `Com Reposição` permitindo que uma unidade seja sorteado mais de uma vez.

In [23]:
populacao = {
    'ID': list(range(1, 31)),
    'Valor': [6.4, 6.2, 7.0, 6.8, 7.2, 6.4, 6.5, 7.1, 6.8, 6.9, 7.0, 7.1, 6.6, 6.8, 6.7,
              6.3, 6.6, 7.2, 7.0, 6.9, 6.8, 6.7, 6.5, 7.2, 6.8, 6.9, 7.0, 6.7, 6.9, 6.9]
}


df_populacao = pd.DataFrame(populacao).set_index("ID")
print(df_populacao.shape)
df_populacao.head()

(30, 1)

    Valor
ID
1     6.4
2     6.2
3     7.0
4     6.8
5     7.2

##### *Sem Reposição*

In [24]:
# Amostragem aleatória simples sem reposição do DataFrame
amostra_sem_reposicao = df_populacao.sample(n=10)
print(amostra_sem_reposicao.shape)
amostra_sem_reposicao

(10, 1)

    Valor
ID
27    7.0
18    7.2
28    6.7
12    7.1
20    6.9
26    6.9
17    6.6
13    6.6
10    6.9
1     6.4

##### *Com Reposição*

In [25]:
# Amostragem aleatória simples com reposição do DataFrame
amostra_com_reposicao = df_populacao.sample(n=10)
print(amostra_com_reposicao.shape)
amostra_com_reposicao

(10, 1)

    Valor
ID
16    6.3
29    6.9
26    6.9
19    7.0
4     6.8
10    6.9
7     6.5
27    7.0
8     7.1
12    7.1

#### **Amostragem Aleatória Sistemática**

Basicamente a amostragem sistemática é quando os elementos são ordenados e retirados periodicamente, exemplo: Pega uma amostra a cada 50 elementos de uma linha de produção

Planejamento:
1. Determinar o intervalo
$k=N/n$
2. Introduzir aleatoriedade escolhendo a partida
3. Escolher primeiro elemento a cada k elemento até o valor da amostra n

In [26]:
# Amostragem sistemática a cada 5 elementos
k = 5
indices_amostra = list(range(0, len(df_populacao), k))
amostra_sistematica = df_populacao.iloc[indices_amostra]
amostra_sistematica

    Valor
ID
1     6.4
6     6.4
11    7.0
16    6.3
21    6.8
26    6.9

#### **Amostragem Aleatória Estatificada**

esse tipo divide populações heterogêneas em subpopulações onde a cada estrato e retirada. `Uniforme` quando sorteados numeros igual de elemetnos em cada estarto (recomendado quando estratos forem valores proximos) `Propocional` numero de estrados são propocionais ao numero de elementos existentes.

In [27]:
# Definir as classes de valor
classes_valor = {
    'A': (5., 6.5),
    'B': (6.5, 7.),
    'C': (7., 7.5)
}

In [28]:
for classe, (lim_inferior, lim_superior) in classes_valor.items():
    df_populacao.loc[(df_populacao['Valor'] > lim_inferior) & (df_populacao['Valor'] <= lim_superior), 'Classe'] = classe

df_populacao.head()

    Valor Classe
ID
1     6.4      A
2     6.2      A
3     7.0      B
4     6.8      B
5     7.2      C

##### *Uniforme*

In [29]:
n = 2  # ou qualquer outro número que seja adequado para o seu caso
amostra_uniforme = df_populacao.groupby('Classe').apply(lambda x: x.sample(n))

# Resetar o índice
amostra_uniforme.reset_index(drop=True, inplace=True)
amostra_uniforme

   Valor Classe
0    6.2      A
1    6.5      A
2    6.9      B
3    6.9      B
4    7.1      C
5    7.1      C

##### *Proporcional*

In [30]:
tamanho_amostra = 0.3

# Usamos train_test_split para estratificar com base na classe
_, amostra_proporcional = train_test_split(df_populacao,
                                           stratify=df_populacao['Classe'],
                                           test_size=tamanho_amostra,
                                           random_state=42)

amostra_proporcional

    Valor Classe
ID
10    6.9      B
20    6.9      B
14    6.8      B
15    6.7      B
7     6.5      A
29    6.9      B
18    7.2      C
16    6.3      A
11    7.0      B

#### **Amostragem Aleatória por conglomerado**

Amostragem por conglomerado, define que a população total deve ser dugistituida por grupos de unidades elemetares, amostragem é feita por grupos e não indivíduos.

Planejamento:
1. Dividir população em M conglomerados em tamanhos não necessáriamento iguais
2. Sorteamos amostra de conglomerados ou seja m < M
3. Número m de conglomerados calculado em dois estágios

In [31]:
# Definir o número de conglomerados
num_conglomerados = 5

In [32]:
# Definir o tamanho do conglomerado
tamanho_conglomerado = len(df_populacao) // num_conglomerados

# Atribuir o conglomerado primário
conglomerados = list(range(1, num_conglomerados + 1))
random.shuffle(conglomerados)
conglomerados *= len(df_populacao) // num_conglomerados + 1
df_populacao['ConglomeradoPrimario'] = conglomerados[:len(df_populacao)]

# Atribuir o conglomerado secundário
conglomerados = list(range(1, num_conglomerados + 1))
random.shuffle(conglomerados)
conglomerados *= len(df_populacao) // num_conglomerados + 1
df_populacao['ConglomeradoSecundario'] = conglomerados[:len(df_populacao)]

In [33]:
print(df_populacao.shape)
df_populacao.head()

(30, 4)

    Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
ID
1     6.4      A                     3                       5
2     6.2      A                     4                       3
3     7.0      B                     1                       1
4     6.8      B                     2                       4
5     7.2      C                     5                       2

##### *1 Estágio*

In [34]:
# Conglomerados primários
conglomerados_primarios = df_populacao['ConglomeradoPrimario'].unique()

# Definir o número de conglomerados primários a serem selecionados
num_conglomerados_primarios_amostra = 2

# Selecionar aleatoriamente os conglomerados primários
conglomerados_primarios_amostra = random.sample(list(conglomerados_primarios), k=num_conglomerados_primarios_amostra)

# Realizar a amostragem por conglomerado em um estágio
amostra_um_estagio = df_populacao[df_populacao['ConglomeradoPrimario'].isin(conglomerados_primarios_amostra)]
print(amostra_um_estagio.shape)
amostra_um_estagio

(12, 4)

    Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
ID
1     6.4      A                     3                       5
2     6.2      A                     4                       3
6     6.4      A                     3                       5
7     6.5      A                     4                       3
11    7.0      B                     3                       5
12    7.1      C                     4                       3
16    6.3      A                     3                       5
17    6.6      B                     4                       3
21    6.8      B                     3                       5
22    6.7      B                     4                       3
26    6.9      B                     3                       5
27    7.0      B                     4                       3

##### *2 Estágio*

In [35]:
# Conglomerados secundários
conglomerados_secundarios = amostra_um_estagio['ConglomeradoSecundario'].unique()

# Definir o número de conglomerados secundários a serem selecionados
num_conglomerados_secundarios_amostra = 1

# Selecionar aleatoriamente os conglomerados secundários
conglomerados_secundarios_amostra = random.sample(list(conglomerados_secundarios), k=num_conglomerados_secundarios_amostra)

# Realizar a amostragem por conglomerado em dois estágios
amostra_dois_estagios = amostra_um_estagio[amostra_um_estagio['ConglomeradoSecundario'].isin(conglomerados_secundarios_amostra)]
print(amostra_dois_estagios.shape)
amostra_dois_estagios

(6, 4)

    Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
ID
1     6.4      A                     3                       5
6     6.4      A                     3                       5
11    7.0      B                     3                       5
16    6.3      A                     3                       5
21    6.8      B                     3                       5
26    6.9      B                     3                       5

### **Amostragem Não Aleatória**

#### **Amostragem Por Conveniência**

É empregada quando a participação da amostra é voluntária ou elementos são escolhidos por conveniência ou simplicidade, como amigos, vizinhos e estudantes.

In [36]:
ids_conveniencia = [5, 10, 15, 20, 25]
amostra_conveniencia = df_populacao[df_populacao.index.isin(ids_conveniencia)]
amostra_conveniencia

    Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
ID
5     7.2      C                     5                       2
10    6.9      B                     5                       2
15    6.7      B                     5                       2
20    6.9      B                     5                       2
25    6.8      B                     5                       2

#### **Amostragem Por Julgamento ou Intencional**

Amostra feito por meio de uma escolha intencional devido a um julgamento de especilista ou regra de negócio, tal amostra pode causar um julgamento equivocado e enviesamento da análise. *Emprego dessa deve requer conhecimento da população e dos elementos selecionados.*

Exemplo: Tenho uma pequena empresa com um numero de clientes específicos e peno em um determinado cliente para entrevistar pois esse se encaixa no perfil de cliente que preciso fortalecer meu negócio.

In [37]:
amostra_julgamento = df_populacao[(df_populacao['Valor'] >= 6) & (df_populacao['Valor'] <= 6.5)]
amostra_julgamento

    Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
ID
1     6.4      A                     3                       5
2     6.2      A                     4                       3
6     6.4      A                     3                       5
7     6.5      A                     4                       3
16    6.3      A                     3                       5
23    6.5      A                     1                       1

#### **Amostragem Por Quotas**

Essa amostragem apresenta maior rigor quando comparadas com as demais, muito utilizada por pesquisa de mercado e opinição eleitoral, amostra não probailistica estratificada.

Procedimento:
1. Selecionar as variáveis de controle ou caracteríticas relevantes
2. Determinar a proporção da população para as categorias
3. Dimensionar a quita (numero de pessoas a serem entrevistados) do modelo que a proporção seja igual.

In [38]:
# Calcular o tamanho da amostra para cada classe
n = 1

# Amostra por quota
amostra_por_quota = df_populacao.groupby('Classe').apply(lambda x: x.sample(min(len(x), n)))

# Resetar o índice
amostra_por_quota.reset_index(drop=True, inplace=True)
amostra_por_quota

   Valor Classe  ConglomeradoPrimario  ConglomeradoSecundario
0    6.4      A                     3                       5
1    6.6      B                     1                       1
2    7.2      C                     2                       4

## **Tamanho da Amostra**

**6 Fatores para determinar tamanho da amostra:**